extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  if(role.permissions.includes("users_edit"))
    h1(class="mb-4") Cập nhật người dùng
    +alert-success(5000)
    +alert-error(5000)
    
    form(
        action=`${prefixAdmin}/users/edit/${user.id}?_method=PATCH`
        method="POST"
      )
        div(class="form-group")
          label(for="fullName") Họ tên *
          input(
              type="text"
              class="form-control"
              id="fullName"
              name="fullName"
              required
              value= user.fullName
          )
        
        div(class="form-group")
          label(for="email") Email *
          input(
              type="email"
              class="form-control"
              id="email"
              name="email"
              required
              value= user.email
          )
        
        div(class="form-group")
          label(for="password") Mật khẩu *
          input(
              type="password"
              class="form-control"
              id="password"
              name="password"
          )    
      
        div(class="form-group form-check form-check-inline")
          input(
              type="radio"
              class="form-check-input"
              id="statusActive"
              name="status"
              value="active"
              checked=(user.status === "active" ? true : false)
          )
          label(for="statusActive" class="form-check-label") Hoạt động
        
        div(class="form-group form-check form-check-inline")
          input(
                type="radio"
                class="form-check-input"
                id="statusInactive"
                name="status"
                value="inactive"
              checked=(user.status === "inactive" ? true : false)
            )
          label(for="statusInactive" class="form-check-label") Dừng hoạt động
        
        div(class="form-group")
          button(
              type="submit"
              class="btn btn-primary") Cập nhật